	li{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	
	input[type=text]{
		width: 15em;
		border: 1px solid;
		padding: 0.5em;
		border-radius: 0;
	}
	
	input[name=birth_year]{
		width: 4em;
	}
	
	input[name=birth_month],input[name=birth_day]{
		width: 2em;
	}
	
	select[name=job]{
		width: 16em;
		border: 1px solid;
		padding: 0.5em;
		border-radius: 0;
	}